@media (max-width: 400px) {
    .descricao-login {
        font-size: 20px;
    }
}

@media (max-width: 470px) {
    .carousel-item img {
        height: 400px;
    }
}

@media (max-width: 380px) {
    .carousel-item img {
        height: 350px;
    }
}